body{
	background-color: #dadada;
}

.vid {
	border: 3px solid black;
	margin-bottom: 5px;
	padding: 10px;
  background-color: #9ccdea;
}

.go-back {
	font-size: 15px;
	border-radius: 20px;
	border: 3px solid black;
	padding: 10px;
	margin-left: 40%;
	width: 20%;
}

.go-back:hover{
	background-color: yellow;
}

.vid h1 {
	font-size: 20px;
  padding: 0;
  margin: 0;
}


.vid:hover{
	background-color: white;
}

video {
	width: 60%;
	border: 8px solid black;
}

.notes{
	background-color: white;
	border: 3px solid black;
	padding: 10px;
  width: 100%;
}

.notes-container{
  text-align: left;
}

.vid, .notes{
	border-radius: 10px;
	text-align: left;
}

#bar{
  /* width: 100%; */
  /* height: 30px; */
  background: grey;
}

#bar{
  margin-top: 30px;
  height: 50px;

}

.ui-slider-handle{
  display: none;
}

/* .ui-slider-range{ */
  /* background:green; */
  /* background-color:; */
/* } */

/* .ui-widget-header{background-image:none;background-color:#887e6d;} */

div.ui-slider-range.ui-widget-header {
    background: green;
}

a.done{
  color: red;
}
